/* 
    General Styles
*/
.mainContainer {
  background-image: url('https://media0.giphy.com/media/JNy7DzgqUnh9p93aru/giphy.gif?cid=6c09b952icunonzp8noduutrwuvivmvy0xr1b4nqmfem17dk&ep=v1_gifs_search&rid=giphy.gif&ct=g');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust based on your layout needs */
  width: 100%;
  }
  
  .h-100 {
    background-color: rgb(69, 70, 71);
  }
  .custom-navbar {
    width: 100%; /* Make the navbar full width */
    background: url('https://t4.ftcdn.net/jpg/03/86/82/73/360_F_386827376_uWOOhKGk6A4UVL5imUBt20Bh8cmODqzx.jpg') no-repeat center center; /* Replace with the URL of your space background image */
    background-size: cover;
    color: #fff;
  }

  
  .mainTitle {
    color: rgb(255, 193, 7);
    text-align: left;
    text-transform: capitalize;
    margin-top: 3rem;
  }
  
  .card-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    text-align: left;
  }
  
  .card-container > div {
    flex: 0 0 250px;
    height: 450px;
    margin-right: 10px; /* Add some margin between cards */
  
    scroll-snap-align: start;
  }
  
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 20px;
    background-color: rgb(46, 46, 49);
  }
  
  .card-text {
    color: bisque;
  }
  
  .card-title {
    color: rgb(255, 193, 7);
  }
  
  .card-img-top {
    object-fit: scale-down;
    width: 100%;
    height: 50%; /* Adjust image height */
    padding-top: 10px;
  }
  
  .learn-more-btn {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
  }
  
  .favorite-btn {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
  }
  
  .badge-pill {
    color: black;
    font-size: 15px;
  }
  .badge {
    background-color: #ffcc00; 
  }
  
  .logo {
    margin-left: 1rem;
  
    max-height: 50px;
  
  }
  
  .drop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .trash-icon {
    cursor: pointer;
  }
  
  .singlePage h2 {
    color: rgb(255, 193, 7);
  }
  
  .singlePage p {
    color: bisque;
  }